<a href="https://colab.research.google.com/github/donhertztech/IBMDataScience/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DataScienceEcosystem**

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
*   Create a Jupyter Notebook
*   Insert code and markdown cells
*   Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:
1.   Python
2.   R
3.   Julia

Some of the commonly used libraries used by Data Scientists include:
1.   Pandas
2.   Matplotlib
3.   Numpy

|Data Science Tools|
|----|
| Google Colab|
| Jupyter Notebook|
| Visual Studio Code|

Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
horas = 0
minutos = 0

horas = int(200/60)
minutos = 200%60

print('H:', horas,'M:', minutos)

H: 3 M: 20

# Author
Aarón García Campos